@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient--bg{
  background-image: linear-gradient(to right, #672280, #A626D3);
}
.meme--container{
  position: relative;
}
.text--decoration{
  color: white;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
  position: absolute;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  
}

.top--text{
  top: 0;
}

.bottom--text{
  bottom: 0;
}

.footer--bottom{
  bottom: 0 !important;
}

.main--flex{
  flex: 1 1 auto;
}